* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #ecf2ff;
}

/* app */
.helpdesk-app {
  background-color: var(--primary-color);
  height: 100vh;
}

/* Navbar */
.navbar-helpdesk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #000;
  color: #fff;
}

.navbar-helpdesk a {
  text-decoration: none;
  color: #fff;
}

.nav-help ul {
  display: flex;
  list-style-type: none;
}

.nav-help li a {
  text-decoration: none;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar-fgslogo {
  width: 50px;
  height: 20px;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--primary-color);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Dashboard */
.dashboard-helpdesk {
  height: 80vh;
  padding: 0 100px;
}

.dashboard-helpdesk h2 {
  padding: 30px 20px;
}
.dashboard-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-count {
  width: 250px;
  height: 100px;
  background-color: white;
  margin: 0 20px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px #000;
}

.dashboard-count span {
  font-size: 30px;
}

.dashboardcount-waiting {
  color: red;
  font-weight: bold;
}

.dashboardcount-progress {
  color: yellow;
  font-weight: bold;
}

.dashboardcount-done {
  color: green;
  font-weight: bold;
}

.dashboard-list-head {
  display: flex;
  justify-content: space-between;
}

.dashboard-list-head button {
  padding: 35px 20px;
  height: 5px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.dashboard-list-head button:active {
  color: blue;
  transition: all ease-in 0.3;
}

.dashboard-list-table {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 20px;
  box-shadow: 2px 2px 2px 2px #000;
  text-align: center;
}

.dashboard-list-table th {
  width: 300px;
}

.dashboard-list-table-header th {
  padding: 10px 10px;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #000;
  color: #fff;
}

.id-ticket {
  width: 20px;
}

.dashboard-list-table-body td {
  padding: 10px 10px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

.footer-helpdesk {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  /* background-color: #fff; */
  color: #000;
}

/* Ticket */
.my-ticket {
  background-color: var(--primary-color);
}

.ticket-helpdesk {
  height: 100vh;
  width: 70%;
  padding: 0 200px;
}

.ticket-helpdesk-header {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.ticket-helpdesk-main {
  /* width: 970px; */
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.ticket-helpdesk-box {
  background-color: #fff;
  /* padding: 20px 0; */
}

.ticket-helpdesk-main h4 {
  display: flex;
  flex: 1;
}

.btn-ticket-helpdesk {
  border: 1px solid grey;
  background-color: var(--primary-color);
  border-radius: 50px;
  width: 100px;
}

.ticket-helpdesk-main select {
  width: 50px;
}

.ticket-helpdesk-main-table th {
  width: 500px;
}

.ticket-helpdesk-main-table td {
  font-size: 14px;
}

.ticket-helpdesk-main-table {
  padding: 0 20px;
}

.ticket-helpdesk-main-tablebox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ticket-helpdesk-main-table-hr {
  size: 10px;
  width: 95%;
}

/* .ticket-helpdesk-footer {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  gap: 620px;
  padding: 10px 0;
} */

.ticket-helpdesk-footer {
  display: flex;
  width: 95%;
  justify-content: space-between;
  padding: 10px 0;
  flex-wrap: wrap;
}

.right button {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid grey;
}

button.middle {
  width: 30px;
  background-color: #279eff;
}

.first {
  width: 60px;
}

.header-modal {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 20px 0;
}

.header-modal h3 {
  color: #000 !important;
}

.header-modal button {
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.modal-input {
  padding: 10px;
  border: 1px solid var(--primary-color);
}

.modal-option,
.modal-textarea {
  width: 500px;
  border: 1px solid var(--primary-color);
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-ccl {
  border: 1px solid var(--primary-color);
  background-color: red;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
  padding: 3px;
  width: 60px;
}

.modal-submit {
  border: 1px solid var(--primary-color);
  background-color: blue;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
  padding: 3px;
  width: 60px;
}

.ticket-table-body {
  text-align: center;
}

.ticket-table-body button {
  border: none;
  border-radius: 5px;
}
.submit-detailticket {
  width: 15px;
  height: 10px;
}

.faq-pages {
  background-color: var(--primary-color);
  height: 100vh;
}

.faq-header {
  background-color: #176b87;
  height: 110px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 150px;
}

.faq-box {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 80px;
}

.divisions-faq {
  background-color: #fff;
  width: 20%;
  border-radius: 3px;
  padding: 10px;
}

.divisions-faq button {
  border: none;
  height: 30px;
  background-color: #fff;
}

.divisions-faq button:active {
  background-color: #7091f5;
  color: white;
  width: 100%;
  transition: all ease-in 0.5;
}

.divisions-faq hr {
  border-top: 0.5px solid grey;
}
.questions-faq {
  background-color: #fff;
  width: 60%;
  border-radius: 3px;
  padding: 10px;
}

/* News */

.helpdesk-newspage {
  background-color: var(--primary-color);
  height: 80%;
}
.news-helpdesk-header {
  background-color: #176b87;
  height: 110px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 80px;
}

.news-helpdesk-main {
  padding: 50px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.news-helpdesk-main .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 15px;
  max-height: 500px;
  line-height: 20px;
}

.news-helpdesk-main h1 {
  color: #176b87;
  text-transform: capitalize;
  font-size: 20px;
}

.news-helpdesk-main .title {
  color: #176b87;
  font-size: 18px;
}

.news-helpdesk-main button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #176b87;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.news-helpdesk-main a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.news-helpdesk-main button:hover,
a:hover {
  opacity: 0.7;
}

.news-helpdesk-main img {
  width: 100%;
  height: 30%;
}
